<!-- general form elements disabled -->
  <div class="box box-warning">
    <div class="box-header with-border">
      <h3 class="box-title new-sub-tittle">Formulario para agregar vehiculo</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <form role="form">
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label>Placa</label>
                <input type="text" class="form-control" placeholder="Placa">
              </div>
            </div>
            <div class="col-md-2">
              <label>Marca</label>
              <select class="form-control">
                <option>Chevrolet</option>
                <option>Renault</option>
              </select>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Linea</label>
                <input type="text" class="form-control" placeholder="Linea">
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label>Clase vehiculo</label>
                <input type="text" class="form-control" placeholder="Clase vehiculo">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Modelo</label>
                <input type="text" class="form-control" placeholder="Modelo">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label>Nº chasis</label>
                <input type="text" class="form-control" placeholder="Nº chasis">
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label>Nº serie</label>
                <input type="text" class="form-control" placeholder="Nº serie">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label>Color</label>
                <input type="text" class="form-control" placeholder="color">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Capacidad de personas</label>
                <input type="text" class="form-control" placeholder="capacidad de personas">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Carroceria</label>
                <input type="text" class="form-control" placeholder="carroceria">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Cilindraje</label>
                <input type="text" class="form-control" placeholder="cilindraje">
              </div>
            </div>
            <div class="col-md-2">
              <label>Servicio</label>
              <select class="form-control">
                <option>Publico</option>
                <option>Particular</option>
              </select>
            </div>

          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label>Tipo de combustible</label>
                <input type="text" class="form-control" placeholder="Tipo de combustible">
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label>Kilometraje</label>
                <input type="text" class="form-control" placeholder="Kilometraje">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label>Factura de compra</label>
                <input type="text" class="form-control" placeholder="factura de compra">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Fecha compra</label>
				        <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Proveedor || Concesionario</label>
                <input type="text" class="form-control" placeholder="proveedor o consesionario">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Propietario</label>
                <input type="text" class="form-control" placeholder="propietario">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>NIT</label>
                <input type="text" class="form-control" placeholder="NIT">
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label>SOAT</label>
				        <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>RTM</label>
				        <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>EXT. Y CONTRA</label>
				        <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Licencia de transito</label>
				        <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Tarjeta de operacion</label>
				        <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>Empresa afiliadora</label>
                <input type="text" class="form-control" placeholder="empresa afiliadora">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Derecho de transito</label>
                <input type="text" class="form-control" placeholder="derecho de transito">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Timbre</label>
                <input type="text" class="form-control" placeholder="timbre">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="exampleInputFile">Imagen o fotografia</label>
                <input type="file" id="exampleInputFile">
              </div>
            </div>
          </div>
      </form>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
