<!-- general form elements disabled -->
  <div class="box box-warning">
    <div class="box-header with-border">
      <h3 class="box-title new-sub-tittle">Formulario para combustible</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <form role="form">
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label>Fecha tanqueo</label>
                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
              </div>
            </div>
            <div class="col-md-2">
              <label>Placa</label>
              <select class="form-control">
                <option>selecione</option>
                <option>STS312</option>
                <option>STS313</option>
                <option>STS314</option>
                <option>STS315</option>
                <option>STS316</option>
                <option>STS317</option>
              </select>
            </div>
            <div class="col-md-3">
              <label>Conductor</label>
              <select class="form-control">
                <option>selecione</option>
                <option>Pedro perez1</option>
                <option>Pedro perez2</option>
                <option>Pedro perez3</option>
                <option>Pedro perez4</option>
                <option>Pedro perez5</option>
                <option>Pedro perez6</option>
              </select>
            </div>
            <div class="col-md-2">
              <label>Tipo de combustible</label>
              <select class="form-control">
                <option>selecione</option>
                <option>Acpm</option>
                <option>Diesel</option>
                <option>Gasolina</option>
              </select>
            </div>


          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label>Nº de galones</label>
                <input type="number" class="form-control" placeholder="Nº de galones">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Costo</label>
                <input type="text" class="form-control" placeholder="kilometraje">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Nº de galones antes</label>
                <input type="number" class="form-control" placeholder="Nº de galones antes">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>Kilometraje</label>
                <input type="number" class="form-control" placeholder="kilometraje">
              </div>
            </div>
          </div>
      </form>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
