<!-- general form elements disabled -->
  <div class="box box-warning">
    <div class="box-header with-border">
      <h3 class="box-title new-sub-tittle">Formulario para agregar conductores</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <form role="form">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Nombre y Apellidos</label>
                <input type="text" class="form-control" placeholder="nombre y apellidos">
              </div>
            </div>
            <div class="col-md-3">
              <label>Tipo docuemnto</label>
              <select class="form-control">
                <option>selecione</option>
                <option>Cedula ciudadania</option>
                <option>Cedula extranjeria</option>
                <option>Pasaporte</option>
              </select>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Documento</label>
                <input type="text" class="form-control" placeholder="documento">
              </div>
            </div>
          </div>

          <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label>Direccion</label>
                  <input type="text" class="form-control" placeholder="direccion">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Celualr</label>
                  <input type="text" class="form-control" placeholder="celular">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Fecha nacimiento</label>
                  <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-3">
                <label>Tipo de licencia</label>
                <select class="form-control">
                  <option>selecione</option>
                  <option>A1</option>
                  <option>A2</option>
                  <option>B1</option>
                  <option>B2</option>
                  <option>C1</option>
                  <option>C2</option>
                  <option>C3</option>
                </select>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <label>Fecha vencimineto</label>
                  <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                </div>
              </div>
          </div>
          <span>Prestaciones sociales</span>
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label>Salud</label>
                <input type="text" class="form-control" placeholder="nombre de eps">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Fecha Ingreso</label>
                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label>ARL</label>
                <input type="text" class="form-control" placeholder="nombre de arl">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Fecha Ingreso</label>
                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
              </div>
            </div>
          </div>
          <span>Contacto en caso de emergencia</span>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label>Nombres y apellidos</label>
                <input type="text" class="form-control" placeholder="nombres y apellidos">
              </div>
            </div>

            <div class="col-md-2">
              <div class="form-group">
                <label>Celular</label>
                <input type="text" class="form-control" placeholder="celular">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="exampleInputFile">Imagen o fotografia</label>
                <input type="file" id="exampleInputFile">
              </div>
            </div>
          </div>
      </form>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
