
<!-- COLOR PALETTE -->
<div class="box box-default color-palette-box">
  <div class="box-header with-border">
    <h3 class="box-title">
      <i class="fa fa-tag"></i>
      Lista de combustible
    </h3>
    <a [routerLink]="['/gasolines-new']">combustible</a>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-12 col-md-12 col-xl-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Placa</th>
              <th scope="col">Fecha Tanqueo</th>
              <th scope="col">Conductor</th>
              <th scope="col">Tipo de combustible</th>
              <th scope="col">Nº de galones</th>
              <th scope="col">Costo</th>
              <th scope="col">Nº de galones antes</th>
              <th scope="col">Kilometraje</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>STS310</td>
              <td>2018-12-09</td>
              <td>Juan Andres</td>
              <td>Gasolina</td>
              <td>10 Galones</td>
              <td>$ 80000</td>
              <td>3 Galones</td>
              <td>30657 Km</td>
            </tr>
            <tr>
              <th scope="row">1</th>
              <td>STS310</td>
              <td>2018-12-09</td>
              <td>Juan Andres</td>
              <td>Gasolina</td>
              <td>10 Galones</td>
              <td>$ 80000</td>
              <td>3 Galones</td>
              <td>30657 Km</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
